:root{
    --bg--color--nav: #becad1;
    --bg--color--body: #f5fffa;
}
.navbar {
    background-color: var(--bg--color--nav);
}
.bg-body{
    background-color: var(--bg--color--body);
}
.text-white{
    color: var(--bg--color--body);
}
.displayFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.linkRedes{
    color: white;
    font-size: 22px;
}
.divRedes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.subFooter{
    background-color: #2d3338;
}
.texto-card{
    font-size: small;
}
.a-card {
    text-decoration: none !important;
    color: black !important;
}
.a-card:hover{
    text-decoration: none !important;
    color: black !important;
}
